{% extends 'main/base.html' %}
{% block title %} Certificate detail {% endblock %}
{% block content %}

   
<div id="main" style="margin-top: 10rem;margin-bottom: 5rem;" class="p-font">
  <div class="container ">
    <div class="row">
        {% if msg %}
            <div class="alert alert-danger" role="alert">
                {{ msg }}
              </div>
              {%endif%}
      <div class="col">

        <div>
          <h2>{{ certificate_detail.name }}</h2>
          <p>{{ certificate_detail.description }}</p>
        </div>

      </div>
      <div class="col">

        <div>
          <h2>The Provider</h2>
          
            <div class="d-flex gap-2">
              <a href="#"><img src="{{ certificate_detail.certificate_image.url }}" alt="" class="rounded d-flex" style="height: 3rem;width: 3rem;object-fit: cover;"/></a>
              <h4 style="margin-top: 1rem;" >{{ certificate_detail.provider }}</h4>
            </div>
            <div class="dropdown m-2 d-flex justify-content-end">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Edit
              </button>
              <ul class="dropdown-menu">
                <li><a href="{%url 'certificates:update_certificate_view'  certificate_detail.id %}" class="dropdown-item" >Update Certificate</a></li>
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal" >Delete certificate</a></li>
  
              </ul>
              
            </div>
          </div>

      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt-5">
  <div class="row  h-100">
    {% for major in certificate_detail.major_set.all %}
      <div class="col-lg-4 h-100">
        <a href="{%url 'majors:detail_major_view' major.id %}" class="text-decoration-none"><img src="{{ major.image.url }}" class="rounded-circle" style="height: 10rem; width: 10rem; object-fit: cover;"></a>
        <h2 class="fw-normal">{{ major.name }}</h2>
        <p>{{ major.description|slice:"0:100" }}</p>
        <p><a class="btn btn-secondary" href="{%url 'majors:detail_major_view' major.id %}">Discover »</a></p>
      </div>
    {% endfor %}
  </div>
</div>
</div> 
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Certificate</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       do you want to delete the certificate {{ certificate_detail.name }} ? click yes if yes
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <a href="{% url 'certificates:delete_certificate_view' certificate_detail.id  %}" class="btn btn-danger">Yes, delete</a>
      </div>
    </div>
  </div>
</div>
{%endblock%}