{% extends 'main/base.html' %}
{% block title %} Certificate detail {% endblock %}
{% block content %}

   
<div id="main">
  <div class="container">
    <div class="row main-row">
        {% if msg %}
            <div class="alert alert-danger" role="alert">
                {{ msg }}
              </div>
              {%endif%}
      <div class="col-8 col-12-medium">

        <section>
          <h2>{{ certificate_detail.name }}</h2>
          <p>{{ certificate_detail.description }}</p>
        </section>

      </div>
      <div class="col-4 col-12-medium">

        <section>
          <h2>The Provider</h2>
          <ul class="small-image-list">
            <li>
              <a href="#"><img src="{{ certificate_detail.certificate_image.url }}" alt="" class="left rounded " style="height: 3rem;width: 3rem;object-fit: cover;"/></a>
              <h4 style="margin-top: 1rem;">{{ certificate_detail.provider }}</h4>
            </li>
          </ul>
        </section>

        <section>
          
          <div>
            <div class="row">
              <div class="col-6 col-12-small">
                <div class="dropdown m-2">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Edit
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="{%url 'certificates:update_certificate_view'  certificate_detail.id %}" class="dropdown-item" >Update Certificate</a></li>
                    <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal" >Delete certificate</a></li>
      
                  </ul>
                  
                </div>
              </div>
            </div>
          </div>
        </section>

      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Certificate</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       do you want to delete the certificate {{ certificate_detail.name }} ? click yes if yes
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <a href="{% url 'certificates:delete_certificate_view' certificate_detail.id  %}" class="btn btn-danger">Yes, delete</a>
      </div>
    </div>
  </div>
</div>
{%endblock%}