{% extends 'main/base.html' %}
{% block title %} All Skills {% endblock %}
{% block search %}
                  <form class="d-flex" role="search" method="get" action="{%url 'skills:skill_home_view' %}">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search"/>
                    <button class="btn btn-outline-dark" type="submit">Search</button>
                  </form>
                  {% endblock %}
{% block content %} 
<div id="main">
{% if keyword %}

<h2 class="pb-2 border-bottom d-flex justify-content-center " style="margin-top: 5rem;">Showing result for: "{{keyword}}" in Skills</h2>
{% else %}
<h2 class="pb-2 border-bottom d-flex justify-content-center " style="margin-top: 5rem;">All Skills</h2>
{% endif %}



<div class="container">
  <div class="row main-row">
   {% for skill in view_skill %}
    <div class="col-4 col-12-medium h-100">

      <section>
        <a href="{%url 'skills:detail_skill_view' skill.id %}"><h2>{{ skill.name }}</h2></a>
        <ul class="small-image-list">
          <li>
          
            <p>{{ skill.description }} </p>
            
          </li>
        </ul>
      </section>
    </div>
    {%endfor%}
  </div></div></div></div>
    
{%endblock%}