{% extends 'main/base.html' %}
{% load static %}

{% block title %}Post Update{% endblock %}

{% block content %}
<div id="main"  style="margin-top: 10rem; ">
  <div class="container p-font" style="margin-bottom: 5rem;">
  <h2>Edit Post</h2>

  <form method="post" enctype="multipart/form-data" action="{%url 'posts:post_update' update_post.id %}" class="post-form">

      {% if msg %}
      <div class="alert alert-danger" role="alert">
          {{ msg }}
        </div>
        {%endif%}
      {% csrf_token %}
        <div class="row g-3">
        <div class="col-sm-6">
          <label class="form-label">Post title</label>
          <input type="text" class="form-control" name="title" value="{{update_post.title}}" /> 
        </div>

        <div class="row g-3">
            <div class="col-sm-6">
              <label for="content" class="form-label">Content</label>
              <textarea  class="form-control" name="content" id="content" >{{update_post.content}}</textarea>
            </div>
        </div>

      <hr class="my-1">
      <div class="row g-3">
      <div class="col-sm-6">
        <label style="font-size: 2rem;" for="action">Choose an action:</label>
        </div></div>
        <div class="col-sm-6">
        <select style="width: 10rem;" name="action" id="action">
        <option value="edit">Edit Post</option>
        <option value="delete">Delete Post</option>
        </select>
        </div>
        <div class="row g-3">
          <div class="col-sm-6">
        <button style="width: 10rem;" type="submit">Update Post</button>
          </div></div>
    </form>
    <div class="row g-3">
      <div class="col-sm-6">
  <a style="width: 10rem;" class="btn btn-danger" href="{% url 'posts:post_detail' update_post.id %}">Cancel</a>
  </div>
  </div>
  </div></div>
  
{% endblock %}
