{% extends 'main/base.html' %}
{% load static %}

{% block title %}Post Update{% endblock %}

{% block content %}
<div id="main">
  
  <h2>Edit Post</h2>

  <form method="post" enctype="multipart/form-data" action="{%url 'posts:post_update' update_post.id %}" class="post-form">

      {% if msg %}
      <div class="alert alert-danger" role="alert">
          {{ msg }}
        </div>
        {%endif%}
      {% csrf_token %}
        <div class="row g-3">
        <div class="col-sm-6">
          <label class="form-label">Post title</label>
          <input type="text" class="form-control" name="title" value="{{update_post.title}}" /> 
        </div>

        <div class="row g-3">
            <div class="col-sm-6">
              <label for="content" class="form-label">Content</label>
              <textarea  class="form-control" name="content" id="content" >{{update_post.content}}</textarea>
            </div>
        </div>

      <hr class="my-4">
        
        <label for="action">Choose an action:</label>
        <select name="action" id="action">
        <option value="edit">Edit Post</option>
        <option value="delete">Delete Post</option>
        </select>

        <button type="submit">Update Post</button>
    </form>

  <a href="{% url 'posts:post_detail' update_post.id %}">Cancel</a>
  </div>
{% endblock %}
