{% extends 'main/base.html' %}
{% block title %} Major detail {% endblock %}
{% block content %}
<div class="container-fluid " style="margin-top: 5rem; width: 50rem;">
  {% if msg %}
      <div class="alert alert-danger" role="alert">
          {{ msg }}
        </div>
        {%endif%}
    <div class="clearfix">
      
      <img src="{{ major_detail.image.url }}" class="col-md-6 float-md-end mb-3 ms-md-3 rounded-circle" style="width: 10rem; height: 10rem; object-fit: cover;" alt="...">
    <h1 class="major-title border-bottom m-3 rounded" style="background-color: rgb(29, 134, 187); width: 35rem;">{{ major_detail.name }} {% if not is_favored %} <a href="{% url 'favorites:add_favorite_view' major_detail.id %}"><span class="material-symbols-outlined">
      add
      </span></a> {%else%} <a href="{% url 'favorites:add_favorite_view' major_detail.id %}" ><span class="material-symbols-outlined" >
        done
        </span></a> {%endif%}</h1>
    <p class="major-description border-bottom rounded m-3 " style=" width: 35rem;">{{ major_detail.description }}</p>
    

    </div>
    <hr/>
    <section class="row row-cols-12 row-cols-md-4 m-2">
        
  
        <div class="col ">
            <h3 class="border-bottom rounded mb-2" style="background-color: rgb(29, 134, 187);">Certificate:</h3>
            {% for certificate in major_detail.certificates.all %}
          <div class="d-flex gap-2 justify-content-between align-items-center mb-1">
            <a href="{% url 'certificates:detail_certificate_view' certificate.id %}" class="text-decoration-none text-black">
            <div class="d-flex align-items-center gap-3">
              <img src="{{ certificate.certificate_image.url}}"  class="rounded-3 avatar" />
              <h5 class="border-bottom">{{certificate.name}}</h5>
            </div>
            </a>
            {% if request.user.is_staff %}
            <a href="{% url 'certificates:remove_certificate_major_view' major_detail.id certificate.id %}" class="btn btn-danger">remove</a>
             {%endif%}
          </div>
          {% endfor %}
        </div>

        <div class="col border rounded">
            <h3 class="border-bottom">Companies:</h3>
            {% for company in major_detail.companies.all %}
          <div class="d-flex gap-2 justify-content-between align-items-center mb-1">
            <a href="{% url 'companies:detail_company_view' company.id %}" class="text-decoration-none text-black">
            <div class="d-flex align-items-center gap-3">
              <img src="{{ company.company_image.url}}"  class="rounded-3 avatar" />
              <h5 class="border-bottom">{{company.name}}</h5>
            </div>
            </a>
            {% if request.user.is_staff %}
            <a href="{% url 'companies:remove_company_major_view' major_detail.id company.id %}" class="btn btn-danger">remove</a>
             {%endif%}
          </div>
          {% endfor %}
          
        </div>
        
        
        <div class="col border rounded">
            <h3 class="border-bottom">Corses:</h3>
            {% for course in major_detail.courses.all %}
          <div class="d-flex gap-2 justify-content-between align-items-center mb-1">
            <a href="{% url 'courses:detail_course_view' course.id %}" class="text-decoration-none text-black">
            <div class="d-flex align-items-center gap-3">
              <img src="{{ course.course_image.url}}"  class="rounded-3 avatar" />
              <h5 class="border-bottom">{{course.name}}</h5>
            </div>
            </a>
            {% if request.user.is_staff %}
            <a href="{% url 'courses:remove_course_major_view' major_detail.id course.id %}" class="btn btn-danger">remove</a>
          {%endif%}
          </div>
          {% endfor %}
        </div>

        <div class="col border rounded">
            <h3 class="border-bottom">Job Titles:</h3>
            {% for job in major_detail.jobs.all %}
          <div class="d-flex gap-2 justify-content-between align-items-center mb-1">
            <a href="{% url 'jobs:detail_job_view' job.id %}" class="text-decoration-none text-black">
            <div class="d-flex align-items-center gap-3">
              <h5 class="border-bottom"><span class="material-symbols-outlined">
                wifi_1_bar
                </span>{{job.name}}</h5>
              
            </div>
            </a>
            {% if request.user.is_staff %}
            <a href="{% url 'jobs:remove_job_major_view' major_detail.id job.id %}" class="btn btn-danger">remove</a>
          {%endif%}
          </div>
          {% endfor %}
        </div>

        <div class="col border rounded">
            <h3 class="border-bottom">Skill:</h3>
            {% for skill in major_detail.skills.all %}
          <div class="d-flex gap-2 justify-content-between align-items-center mb-1">
            <a href="{% url 'skills:detail_skill_view' skill.id %}" class="text-decoration-none text-black">
            <div class="d-flex align-items-center gap-3">
              <h5 class="border-bottom"><span class="material-symbols-outlined">
                wifi_1_bar
                </span> {{skill.name}}</h5>
              
            </div>
            </a>
            {% if request.user.is_staff %}
            <a href="{% url 'skills:remove_skill_major_view' major_detail.id skill.id %}" class="btn btn-danger">remove</a>
          {%endif%}
          </div>
          {% endfor %}
        </div>
  
      </section>
    <div class="d-flex justify-content-end m-2">
        <div class="dropdown m-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Edit
            </button>
            <ul class="dropdown-menu">
              <li><a href="{%url 'majors:update_major_view'  major_detail.id %}" class="dropdown-item" >Update major</a></li>
              <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal" >Delete major</a></li>
              <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#ModalCertificate">Add Certificate</a></li>
              <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#ModalCompany">Add Companies</a></li>
              <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#ModalCourse">Add Course</a></li>
              <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#ModalJob">Add Job</a></li>
              <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#ModalSkill">Add Skill</a></li>
            </ul>
            
          </div>
    

          <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Delete major</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                 do you want to delete the major {{ major_detail.name }} ? click yes if yes
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  <a href="{% url 'majors:delete_major_view' major_detail.id  %}" class="btn btn-danger">Yes, delete</a>
                </div>
              </div>
            </div>
          </div>

          <!-- Actors Modal -->

<div class="modal fade" id="ModalCertificate" tabindex="-1" aria-labelledby="ModalCertificate" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="ModalCertificate">Certificates</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% for certificate in certificates %}
          <div class="d-flex gap-2 justify-content-between align-items-center mt-2">
            <div class="d-flex align-items-center gap-3">
              <img src="{{certificate.certificate_image.url}}"  class="rounded-3 avatar" />
              <h5>{{ certificate.name}}</h5>
           </div>
            <a href="{% url 'certificates:add_certificate_major_view' major_detail.id certificate.id %}" class="btn btn-primary">Add</a>
          </div>
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalCompany" tabindex="-1" aria-labelledby="ModalCompany" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="ModalCompany">Company</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {% for company in companies %}
            <div class="d-flex gap-2 justify-content-between align-items-center mt-2">
              <div class="d-flex align-items-center gap-3">
                <img src="{{company.company_image.url}}"  class="rounded-3 avatar" />
                <h5>{{ company.name}}</h5>
             </div>
              <a href="{% url 'companies:add_company_major_view' major_detail.id company.id %}" class="btn btn-primary">Add</a>
            </div>
          {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="ModalCourse" tabindex="-1" aria-labelledby="ModalCourse" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="ModalCourse">Course</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {% for course in courses %}
            <div class="d-flex gap-2 justify-content-between align-items-center mt-2">
              <div class="d-flex align-items-center gap-3">
                <img src="{{course.course_image.url}}"  class="rounded-3 avatar" />
                <h5>{{ course.name}}</h5>
             </div>
              <a href="{% url 'courses:add_course_major_view' major_detail.id course.id %}" class="btn btn-primary">Add</a>
            </div>
          {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="ModalJob" tabindex="-1" aria-labelledby="ModalJob" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="ModalJob">Job</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {% for job in jobs %}
            <div class="d-flex gap-2 justify-content-between align-items-center mt-2">
              <div class="d-flex align-items-center gap-3">
                <h5>{{ job.name}}</h5>
             </div>
              <a href="{% url 'jobs:add_job_major_view' major_detail.id job.id %}" class="btn btn-primary">Add</a>
            </div>
          {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="ModalSkill" tabindex="-1" aria-labelledby="ModalSkill" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="ModalSkill">Skill</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {% for skill in skills %}
            <div class="d-flex gap-2 justify-content-between align-items-center mt-2">
              <div class="d-flex align-items-center gap-3">
                <h5>{{ skill.name}}</h5>
             </div>
              <a href="{% url 'skills:add_skill_major_view' major_detail.id skill.id %}" class="btn btn-primary">Add</a>
            </div>
          {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>


</div>
{%endblock%}