{% extends 'main/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<!-- Banner -->
<div id="main" class="p-font"  style="margin: 0px;">

    <div class="" style="width: 100%;" >

        <div id="banner" style="width:100vw; padding-top: 0px; height: 110vh; overflow: hidden;margin-top: 0px;">
            
            
            <video style=" width: 100%;
            height: auto; 
            border: 2px solid #ddd; 
            border-radius: 8px;" autoplay muted loop>
                <source src="static/videos/1888.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            
        </div>

    </div>


<!-- Main -->
<hr/>
    <div class="container">
        <div class="row">
            <div class="col-4 col-12-medium">

                <div>
                    <h2>Welcome to DALL!</h2>
                    <p>Exploring job opportunities that align with your major can significantly enhance your career prospects and fulfillment, ensuring that your professional path is in harmony with your academic background and expertise.</p>
                    <footer class="controls">
                        <a href="{%url 'majors:major_home_view' %}" class="btn btn-info">Find Your Way...</a>
                    </footer>
                </div>

            </div>
            <div class="col-4 col-6-medium col-12-small">

                <div>
                    <h2>Who are you guys?</h2>
                    
                    <p>We are a comprehensive website designed to streamline your career journey. Simply search by major, and we provide personalized recommendations for certificates, courses, essential skills, job titles, and companies looking for your expertise. Empowering you to make informed decisions and succeed in your professional endeavors.</p>
                        
                          
                </div>

            </div>
            <div class="col-4 col-6-medium col-12-small">
              <div><h2>Posts Of Users</h2>
                <a class="btn btn-info" href="{%url 'posts:post_list'%}">posts</a></div>
                

            </div>
            <div>
                <h2>Our Services</h2>
                <ul>
                    <li>
                        <strong>Search by Major:</strong> Explore career opportunities tailored to your chosen major.
                    </li>
                    <li>
                        <strong>Certificates:</strong> Discover relevant certifications to enhance your skills and qualifications.
                    </li>
                    <li>
                        <strong>Courses:</strong> Access curated courses aligned with your major to further your knowledge.
                    </li>
                    <li>
                        <strong>Skills:</strong> Identify essential skills necessary for success in your chosen field.
                    </li>
                    <li>
                        <strong>Job Titles:</strong> Explore a variety of job titles within your major, providing clarity on potential career paths.
                    </li>
                    <li>
                        <strong>Companies:</strong> Discover companies actively seeking professionals with your expertise.
                    </li>
                </ul>
            </div>
            
            
        </div>
    </div>
</div>
{% endblock %}