{% extends 'main/base.html' %}
{% block title %} All Title Jobs {% endblock %}
{% block search %}
                  <form class="d-flex" role="search" method="get" action="{%url 'jobs:job_home_view' %}">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search"/>
                    <button class="btn btn-outline-dark" type="submit">Search</button>
                  </form>
                  {% endblock %}
{% block content %}
<div id="main">
{% if keyword %}
<h2 class="pb-2 border-bottom d-flex justify-content-center " style="margin-top: 5rem;">Showing result for: "{{keyword}}" in Job titles </h2>
{% else %}
<h2 class="pb-2 border-bottom d-flex justify-content-center " style="margin-top: 5rem;">All Job Titles</h2>
{% endif %}
  
    <!-- Main -->
  
    <div class="container">
      <div class="row main-row">
       {% for job in view_job %}
        <div class="col-4 col-12-medium h-100">
  
          <section>
            <a href="{%url 'jobs:detail_job_view' job.id %}"><h2>{{ job.name }}</h2></a>
            <ul class="small-image-list">
              <li>
              
                <p>{{ job.description }} </p>
                
              </li>
            </ul>
          </section>
        </div>
        {%endfor%}
      </div></div></div></div>
     
{%endblock%}