{% extends 'main/base.html' %}
{% block title %} All Courses {% endblock %}
{% block content %} 

<h2 class="pb-2 border-bottom d-flex justify-content-center " style="margin-top: 5rem;">All courses</h2>

<div class="container-fluid mt-5">
  <div class="row  h-100">
    {% for course in view_course %}
      <div class="col-lg-4 h-100">
        <a href="#" class="text-decoration-none"><img src="{{ course.course_image.url }}" class="rounded w-100" style="height: 10rem;  object-fit: cover;"></a>
        <h2 class="fw-normal">{{ course.name }}</h2>
        <p>{{ course.description }}</p>
        <p><a class="btn btn-secondary" href="#">Discover »</a></p>
      </div>
    {% endfor %}
  </div>
</div>

  
    
{%endblock%}