{% extends 'main/base.html' %}
{% block title %} All Courses {% endblock %}
{% block search %}
                  <form class="d-flex" role="search" method="get" action="{%url 'courses:course_home_view' %}">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search"/>
                    <button class="btn btn-outline-success" type="submit">Search</button>
                  </form>
                  {% endblock %}
{% block content %} 
<div id="main" class="p-font" style="margin-top: 10rem;margin-bottom: 5rem;">
{% if keyword %}
<h2 class="pb-2 border-bottom d-flex justify-content-center " style="margin-top: 5rem;">Showing result for: "{{keyword}}" in Courses</h2>
{% else %}
<h2 class="pb-2 border-bottom d-flex justify-content-center " style="margin-top: 5rem;">All courses</h2>
{% endif %}
<div class="container-fluid mt-5">
  <div class="row  h-100">
    {% for course in view_course %}
      <div class="col-lg-4 h-100">
        <a href="{% url 'courses:detail_course_view' course.id  %}" class="text-decoration-none"><img src="{{ course.course_image.url }}" class="rounded-circle" style="height: 10rem; width: 10rem; object-fit: cover;"></a>
        <h2 class="fw-normal">{{ course.name }}</h2>
        <p>{{ course.description }}</p>
        <p><a class="btn btn-secondary" href="{% url 'courses:detail_course_view' course.id  %}">Discover »</a></p>
      </div>
    {% endfor %}
  </div>
</div>
</div>
  
    


{%endblock%}